<div id="header">
    <div id="logo">
        yabe.
    </div>
    <ul id="tools">
        <li>
        	#{if !controllers.Secure.Security.isConnected()}
            	<a href="@{Admin.index()}">Log in to write something</a>
            #{/if}
            #{else}
	            <a href="@{Admin.index()}">Admin</a> | 
	            <a href="@{Secure.logout()}">Logout</a>
            #{/else}
        </li>
    </ul>
    <div id="title">
        <span class="about">About this blog</span>
        <h1><a href="@{Application.index()}">${blogTitle}</a></h1>
        <h2>${blogBaseline}</h2>
    </div>
</div>